body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1, h2, footer {
    text-align: center;
    color: white;
}

h1 {
    font-weight: 900;
    font-size:xx-large;
    margin-top: 75px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    color: orange;
    font-weight: 800;
    padding-bottom: 10px;
}

h4 {
    color: orange;
    font-variant: all-petite-caps;
    font-size: x-large;
}

img.logo-grupo-estudos {
    height: auto;
    max-width: 110px;
    position: fixed;
    top: 3px;
    right: 12px;
    background-color: black;
    z-index: 3;
}

.color-efeito {
    color: orange;
}

ol {
    margin-left: 35px;
}

ul {
    list-style: unset;
    list-style-type: circle;
    margin-left: 40px;
}

.bd-notification.is-danger, .bd-notification.is-primary {
    padding: 1.25rem 1.5rem;
    height: 100%;
}

@media screen and (max-width: 888px), print {
    .columns.is-mobile>.column.is-one-third {
        flex: none;
        width: 100%;
    }
}

footer {
    background-color: black;
    padding-bottom: calc(100vh - 671px);
}