body {
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

h1, h2, footer {
    text-align: center;
    color: white;
}

h1 {
    font-weight: 900;
    font-size:xx-large;
    margin-top: 75px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    color: orange;
    font-weight: 800;
    padding-bottom: 10px;
}

h4 {
    color: orange;
    font-variant: all-petite-caps;
    font-size: x-large;
}

img.logo-grupo-estudos {
    height: auto;
    max-width: 110px;
    position: fixed;
    top: 3px;
    right: 12px;
    background-color: black;
    z-index: 3;
}

.color-efeito {
    color: orange;
}

ol {
    margin-left: 35px;
}

ul {
    list-style: unset;
    list-style-type: circle;
    margin-left: 40px;
}

.bd-notification.is-danger, .bd-notification.is-primary {
    padding: 1.25rem 1.5rem;
    height: 100%;
}

@media screen and (max-width: 888px), print {
    .columns.is-mobile>.column.is-one-third {
        flex: none;
        width: 100%;
    }
}

.breadcrumb.has-bullet-separator {
    background-color: white;
    border-radius: 9px;
}

.breadcrumb li.is-active a {
    color: black;
}

.breadcrumb a:hover, a:hover {
    color: orange;
}

.quadradoVermelho {
    height: 10px;
    width: 10px;
    background-color: #f14668;
}

.quadradoVerde {
    height: 10px;
    width: 10px;
    background-color: #00d1b2;
}

.textoLegenda {
    padding-left: 10px;
}

.tituloLegenda {
    padding-bottom: 10px;
    font-weight: 700;
}

@media screen and (max-width: 799px), print {
    .breadcrumb li {
        align-items: center;
        display: flex;
        width: 100%;
        margin: 9px 0 0 -52px;
    }
}

@media screen and (max-width: 799px), print {
    .breadcrumb.is-centered ul {
        justify-content: center;
        padding: 9px 0 15px 0;
    }
}

a.conteudoAtivo {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

a:hover.conteudoAtivo {
    color: teal;
}

.tabs.is-boxed {
    margin-left: -40px;
}

footer {
    background-color: black;
    padding-bottom: calc(100vh - 671px);
}